@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Yair Alexander Valbuena <br />
    Ingeniero en mecatronica <br/>
    <abbr title="Phone">Phone Nmuber:</abbr>
    +57 320 3071462
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">yair.valbuena@gmail.com</a><br />
    
</address>
